<section class="userName-section">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="display-6">Change User Name</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-5" id="userName-update">
                <p>If you want to change the user name associated with your Rubbles account, you may do so below. Be sure to click the Save Changes button when you are done.</p>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <div class="form-group">
                        <label> New&nbsp; User&nbsp; Name</label>
                        <input class="form-control shadow" type="text" name="userName" ngModel #userName="ngModel" maxlength="20" minlength="5" required>
                        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                            <small class="text-danger" *ngIf="userName.errors.required">
                                User Name is Required.
                            </small>
                            <small class="text-danger" *ngIf="userName.errors.minlength">
                                User Name must be minimum of 5 characters.
                            </small>
                            <small class="text-danger" *ngIf="userName.errors.maxlength">
                                User Name must be maximum of 20 characters.
                            </small>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button class="shadow bg-primary text-white p-1" type="submit" [disabled]="!f.valid">Save Changes</button>
                    </div>
                </form>
                <div class="text-center mt-2">
                    <button class="shadow bg-primary text-white p-1" type="button" (click)="goBack()">Cancel</button>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</section>
