.forgot-password{
    background-image: url("src/assets/images/background-4326353_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}


.forgot-password #forgot-section{
    margin-top: 120px;
}

.forgot-password button{
    padding: 0;
    margin: 0;
    border: 0;
    width: 55%;
}

.forgot-password input.ng-touched.ng-invalid{
    border: 1px solid red;
}

.forgot-password input
{
    box-shadow: none !important;
    border: 1px solid gainsboro;
}

.forgot-password a
{   
    text-decoration: none;
}