<section class="plan-section">
    <div class="container-fluid align-items-center">
        <div class="row mb-2">
            <div class="col-md-3 mr-2 mb-1 shadow rounded pt-3" *ngFor="let course of courses | paginate: { itemsPerPage: 16, currentPage: p}">
                <div class="card border-0">
                    <div>
                        <img src="{{course.image}}" class="card-img-top h-10" alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-title"><a [routerLink]="['/products/view', course.courseId]">{{course.courseName}}</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)= " p = $event "></pagination-controls>
    </div>
</section>

<!-- <section class="plan-section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3 test" *ngFor="let course of courses | paginate: { itemsPerPage: 16, currentPage: p }">
                <img class="img-fluid mb-2" src="{{course.image}}"  alt="...">
                <h6 class=""><a [routerLink]="['/products/view', course.courseId]">{{course.courseName}}</a></h6>
            </div>
        </div>
    </div>
</section> -->






