
.auth-links{
    width: 100%;
}
.auth-links button{
    padding: 0;
    margin: 0;
    border: 0;
    margin: 6px;
    background-color: white;
}

.auth-links  a{
    text-decoration: none;
    margin: 8px;
}


