<section class="alert">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 shadow bg-white p-5 text-center" id="message">
                <p>Password Successfully Changed.<br>Remember it,<br>Keep it Secured,<br>You will need it in your next login.</p>
                <a [routerLink]="['/profile/login-details-update']">Go Back</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

