<section id="form-section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-5 p-5 bg-white shadow rounded border" id=form-data>
                <p class="mb-5" style="font-size: 26px;">Sign-In</p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-4">
                        <label for="email" class="form-control-label">Email</label>
                        <input class="form-control border border-top-0 border-end-0 border-start-0" type="text"
                            formControlName="email" id="email">
                        <div *ngIf="g.email.invalid && (g.email.dirty || g.email.touched)">
                            <small class="text-danger" *ngIf="g.email.errors.required">
                                Email field is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="password" class="form-control-label">Password</label>
                        <input class="form-control border border-top-0 border-end-0 border-start-0" type="password"
                            formControlName="password" id="password">
                            <p class="text-end">
                                <a style="text-decoration: none;" [routerLink]="['/security/forgot-password']">forgot password?</a>
                            </p>
                        <div *ngIf="g.password.invalid && (g.password.dirty || g.password.touched)">
                            <small class="text-danger" *ngIf="g.password.errors.required">
                                Password field is required
                            </small>
                        </div>
                    </div>
                    <div class="form-check mb-5">
                        <input class="form-check-input" type="checkbox" formControlName="rememberMe" id="rememberMe"
                            value="">
                        <label for="rememberMe" class="form-check-label">Remember me (optional)</label>
                    </div>
                    <div class="text-center">
                        <button class=" bg-primary text-white border rounded p-1" id="trigger">Sign in</button>
                    </div>
                </form>
                <div class="extras">
                    <div class="text-center">
                        <button class="text-primary bg-white" [routerLink]="['/register']">No account yet? Sign Up</button>
                    </div>
                    <p class="text-center mt-3 fw-lighter">OR</p>
                    <hr>
                    <div class="text-center">
                        <img class="img-fluid bg-white" src="../../assets/images/google.png" width="30px">
                        <button class=" shadow border p-1 bg-danger text-white rounded" id="google"
                        (click)="loginWithGoogle()">Google</button>
                    </div>
    
                </div>
            </div>
            <div class="col-md-3 mt-2">
            </div>
        </div>
    </div>
</section>