<footer class="p-5 bg-light shadow rounded" id="footer-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-3 blog">
                <h6 class=" mb-3 font-monospace">Services</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-dark" href="#">Rubbles Tech Inc</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">Rubbles Tech Inc</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">Rubbles Tech Inc</a></li>
                </ul>
            </div>
            <div class="col-md-3 archives">
                <h6 class=" mb-3 font-monospace">Gallery</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-dark" href="#">December 15 2020</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">April, 5 2020</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">March, 21 2020</a></li>
                </ul>
            </div>
            <div class="col-md-3 useful-Links">
                <h6 class=" mb-3 font-monospace">Useful Links</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-dark" href="#">Web Development</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">Cloud Services</a></li>
                    <li class="mb-2"><a class="text-dark" href="#">SEO Optimization</a></li>
                </ul>
            </div>
            <div class="col-md-3 contact">
                <h6 class=" mb-3 font-monospace">Contact</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a>Web Development</a></li>
                    <li class="mb-2"><a>Cloud Services</a></li>
                    <li class="mb-2"><a>SEO Optimization</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <a class="btn btn-primary border shadow rounded m-1" style="background-color: #3b5998;"
                    href="https://www.facebook.com/presley.omozuwa" role="button"><i class="fab fa-facebook-f"></i></a>
                <!-- Twitter -->
                <a class="btn btn-primary border  shadow rounded m-1" style="background-color: #55acee;"
                    href="https://twitter.com/PresleyOmozuwa" role="button"><i class="fab fa-twitter"></i></a>
                <!-- Github -->
                <a class="btn btn-primary border shadow rounded m-1" style="background-color: #333333;"
                    href="https://github.com/presleyEOmozuwa" role="button"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 copy-right">
                <p class="text-center text-dark pt-3">© 2021 Copyright: Rubbles Blog. All
                    rights reserved</p>
            </div>
        </div>
    </div>
</footer>    

