<section class="lastName-section">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="display-6">Change Password</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-5" id="lastName-update">
                <p>If you want to change the password associated with your Rubbles account, you may do so below. Be sure to click the Save Changes button when you are done.</p>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <div class="form-group mb-4">
                        <label> Current&nbsp; Password</label>
                        <input class="form-control shadow" type="password" name="cpassword" ngModel #cpassword="ngModel" required>
                        <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)">
                            <small class="text-danger" *ngIf="cpassword.errors.required">
                                Current Password is Required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label> New&nbsp; Password</label>
                        <input class="form-control shadow" type="password" name="password" ngModel #password="ngModel" maxlength="20" minlength="8" required>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <small class="text-danger" *ngIf="password.errors.required">
                                Password is Required.
                            </small>
                            <small class="text-danger" *ngIf="password.errors.minlength">
                                Password must be minimum of 8 characters.
                            </small>
                            <small class="text-danger" *ngIf="password.errors.maxlength">
                                Password must be maximum of 20 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label> Confirm&nbsp; New&nbsp; Password</label>
                        <input class="form-control shadow" type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" ngValidateEqual="password" required>
                        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                            <small class="text-danger" *ngIf="confirmPassword.errors.required">
                                Confirm Password is Required.
                            </small>
                            <small class="text-danger" *ngIf="confirmPassword.hasError('notEqual')">
                                Password do not match
                            </small>
                        </div>
                    </div>    
                    <div class="text-center">
                        <button class="shadow bg-primary text-white p-1" type="submit" [disabled]="!f.valid">Save Changes</button>
                    </div>
                </form>
                <div class="text-center mt-2">
                    <button class="shadow bg-primary text-white p-1" type="button" (click)="goBack()">Cancel</button>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>