<section class="email-section">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="display-6">Change Email Address</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-5" id="email-update">
                <p>If you want to change the email associated with your Rubbles account, you may do so below. Be sure to click the Save Changes button when you are done.</p>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <div class="form-group">
                        <label> New&nbsp; Email&nbsp; Address</label>
                        <input class="form-control shadow" type="email" name="email" ngModel #email="ngModel" required>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                            <small class="text-danger" *ngIf="email.errors.required">
                                Email is Required.
                            </small>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button class="shadow bg-primary text-white p-1" type="submit" [disabled]="!f.valid">Save Changes</button>
                    </div>
                </form>
                <div class="text-center mt-2">
                    <button class="shadow bg-primary text-white p-1" type="button" (click)="goBack()">Cancel</button>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</section>


