.reset-password{
    background-image: url("src/assets/images/background-4326353_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}


.reset-password #reset-section{
    margin-top: 170px;
}

.reset-password button{
    padding: 0;
    margin: 0;
    border: 0;
    width: 65%;
}

.reset-password input.ng-touched.ng-invalid{
    border: 1px solid red;
}

.reset-password input
{
    box-shadow: none !important;
    border: 1px solid gainsboro;
}